# Copy this file to .env and fill in your real values
# Never commit .env to Git

SUPABASE_URL=https://dxbwjprztwyczkaycjtk.supabase.co
SUPABASE_KEY=sb_publishable_IcJ3Qa-7ju8E_ZG8GB2GeA_2kCBXSwo
SECRET_KEY=J4mesBruhdle!gh123105